<mat-toolbar color="primary" class="justify-between py-4">

  Lets Chat !

  <ng-container *ngIf="authService.currentUser$ | async as user; else loginbutton">
    <button mat-button [matMenuTriggerFor]="userMenu" class="items-center flex gap-2 cursor-pointer">
      <!-- <mat-icon>account_circle</mat-icon> -->
      <div class="flex gap-2 items-center">
          <img width="30" height="30" class="rounded-[100%]" [src]="user.photoURL" alt="">
        <div>{{user.displayName}}</div>
        <mat-icon>expand_more</mat-icon>
      </div>
    </button>
  </ng-container>

  <ng-template #loginbutton>
    <button mat-button routerLink="login" class="items-center flex gap-2 cursor-pointer">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>

</mat-toolbar>

<div class="p-12">
  <router-outlet></router-outlet>
</div>


<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">Logout</button>
  <button mat-menu-item routerLink="/profile">Profile</button>
</mat-menu>
